/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.text-white{
    /* color: red; */
}

body {
    justify-content: center;
    padding-top: 60px;
    /* padding-bottom: 40px; */
    background-color: #f5f5f5 !important;
  }