<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">WELCOME TO OUR NANO-AMAZON</h1>
    <p class="lead text-muted">A project created by MUM students for MWA course to browse
      catalogs/products/items and to practice Angular/Node/Mongodb frameworks </p>

  </div>
</section>
<div class="album bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="addNew()" *ngIf="isAdmin">Add New</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 warning" *ngIf="!(products).length">No products in system!</div>
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <form [formGroup]="searchGroup" (ngSubmit)="searchOnSubmit()">
          <input type="text" formControlName="searchTerm"/>
          <input type="submit" value="Search"/>
        </form> 
      </div>
      <div class="col-md-4" *ngFor="let product of (products | filter:term);let i = index">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{serverImagesUrl + product.imageId}}" alt="Card image cap">
          <div class="card-body">
            <p>{{product.name}}</p>
            <div *ngIf="!isClicked">
              <p>{{product.tags}}</p>
              <p>{{product.company}}</p>

              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-primary" (click)="onClicked(product._id)">View</button>&nbsp;
                <button class="btn btn-info" (click)="editProduct(product._id)" *ngIf="isAdmin">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="removeProduct(product._id, i)" *ngIf="isAdmin">Delete</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>