<h2 class="jumbotron-heading">PRODUCT DETAILS</h2>
<div class='row'>
    <div class='col-md-6'>
        <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2'
            src="{{serverImagesUrl + product.imageId}}">
    </div>
    <div class='col-md-6'>
        <div class='row'>
            <div class='col-md-3'>Name:</div>
            <div class='col-md-3'>{{product.name}}</div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Tags:</div>
            <div class='col-md-3'>{{product.tags}}</div>
        </div>

        <div class='row'>
            <div class='col-md-3'>Company:</div>
            <div class='col-md-3'>{{product.company}}</div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Price:</div>
            <div class='col-md-3'>{{product.price}}</div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Quantity:</div>
            <div class='col-md-3'>{{product.quantity}}</div>
        </div>
        <div class='row'>
            <div class='col-md-3'>ImageId:</div>
            <div class='col-md-3'>{{product.imageId}}</div>
        </div>
        <div class='row'>
            <div class='col-md-3'>Description:</div>
            <div class='col-md-3'>{{product.description}}</div>
        </div>
    </div>
</div>