<br/>
<div class="col-md-3">
  <h2 class="text-center" *ngIf="productId">Edit Product</h2>
  
  <h2 class="text-center" *ngIf="!productId">Add Product</h2>

      <h6 class="text-center"  *ngIf="errorMsg">{{errorMsg}}</h6>
  
  
  <form [formGroup]="editForm" *ngIf="!errorMsg" (ngSubmit)="onSubmit()">
      
    <div class="form-group">
      <label>Tag:</label>
      <input type="text" formControlName="tags" placeholder="tag number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      <div *ngIf="submitted && f.tag.errors">
        <div *ngIf="f.tag.errors.required">Description is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="name" placeholder="product name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
        <label>Description:</label>
        <input type="text" formControlName="company" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
        <div *ngIf="submitted && f.company.errors">
          <div *ngIf="f.company.errors.required">Company is required</div>
        </div>
    </div>

    <div class="form-group">
      <label>Quantity:</label>
      <input type="text" formControlName="quantity" placeholder="Quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
      <div *ngIf="submitted && f.company.errors">
        <div *ngIf="f.company.errors.required">Company is required</div>
      </div>
  </div>


  <div class="form-group">
    <label>Price:</label>
    <input type="text" formControlName="price" placeholder="Price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
    <div *ngIf="submitted && f.company.errors">
      <div *ngIf="f.company.errors.required">Company is required</div>
    </div>
</div>
<!-- 
<div class="form-group">
  <label>ImageId:</label>
  <input type="text" formControlName="company" placeholder="ImageId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
  <div *ngIf="submitted && f.company.errors">
    <div *ngIf="f.company.errors.required">Company is required</div>
  </div>
</div> -->

    <input type="submit"  class="btn btn-info" value="Save"/>
  </form>
</div>
