<div class="col-md-8">
  <section id="loginForm">
      <form class="form-horizontal" role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3>Please provide your email and password to login</h3>
          <hr>
          <div class="validation-summary-errors text-danger" *ngIf="errorMessage">
              <ul>
                  <li>{{errorMessage}}</li>
              </ul>
          </div>
          <div class="form-group">
              <label class="col-md-2 control-label" for="Email">Email</label>
              <div class="col-md-10">
                  <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
                  <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-2 control-label" for="Password">Password</label>
              <div class="col-md-10">
                  <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" >
                  <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
              </div>
          </div>

          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="button" value="Log in" class="btn btn-default" (click)="login()">
                  <img src="/Content/Images/ajax-loader.gif" *ngIf="inProgress"/>
              </div>
          </div>
          <p>
              <a ui-sref="Register">Register as a new user</a>
          </p>
      </form>
  </section>
</div>