<div class="col-md-3">
  <h2 class="text-center">Add Product</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Tag:</label>
      <input type="text" formControlName="title" placeholder="tag number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors">
        <div *ngIf="f.title.errors.required">tag is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="description" placeholder="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      <div *ngIf="submitted && f.description.errors">
        <div *ngIf="f.description.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <input type="text" formControlName="price" placeholder="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.price.errors">
        <div *ngIf="f.price.errors.required">Description is required</div>
      </div>
    </div>

    <div class="form-group">
        <label>Quantity:</label>
        <input type="text" formControlName="company" placeholder="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
        <div *ngIf="submitted && f.company.errors">
          <div *ngIf="f.company.errors.required">quantity is required</div>
        </div>
    </div>

    <div class="form-group">
      <label>Price:</label>
      <input type="text" formControlName="company" placeholder="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
      <div *ngIf="submitted && f.company.errors">
        <div *ngIf="f.company.errors.required">price is required</div>
      </div>
  </div>

  <div class="form-group">
    <label>ImageId:</label>
    <input type="text" formControlName="company" placeholder="image id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
    <div *ngIf="submitted && f.company.errors">
      <div *ngIf="f.company.errors.required">imageId is required</div>
    </div>
</div>


    <button type="submit"  class="btn btn-info">Save</button>
  </form>
</div>

